---
// import {Image} from 'astro:assets';
// import rocketShip from '../../assets/images/rocket.png';
import {CustomText} from '../general/CustomText';
---

<section id="home" class="h-screen pt-20 bg-secondary">
    <!-- <section
    class="h-screen pt-20 bg-secondary sm:bg-yellow-700 md:bg-teal-500 lg:bg-orange-700 xl:bg-slate-500 2xl:bg-lime-800"
> -->
    <div
        class="h-full flex flex-col sm:flex-row justify-center sm:items-center px-6"
    >
        <div class="flex flex-col gap-y-2 sm:basis-7/12 md:basis-5/12">
            <CustomText
                className="text-primary text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl font-bold"
                variant="title">Diseñamos y desarrollamos tu idea.</CustomText
            >
            <CustomText className="text-white lg:text-2xl"
                >Una propuesta para lanzar tu negocio a la era digital.</CustomText
            >
        </div>

        <div
            class="sm:h-full sm:flex sm:items-center xl:justify-center sm:basis-5/12 md:basis-7/12"
        >
            <!-- <Image class="max-h-full" src={rocketShip} alt={'rocket ship'} /> -->
        </div>
    </div>
</section>
